<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R Lang
3. Java
4. Scala

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib.pyplot
4. Sciket-Learn

| Sr No | Data Science Tools |
| :---------: | :----------------: |
| 1 | Jupyter Notebook |
| 2 | Google Collab |
| 3 | Anaconda |
| 4 | Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
x = (3*4)+5
print(x)

17

In [8]:
y = 5*9
print(y)

45

### This will convert 200 minutes to hours by diving by 60

In [10]:
minutes = 200
hour = 60
total_hours = minutes / hour
print(total_hours)

3.3333333333333335

_***Obectives :***_
- List popular languages for Data Science
- Data Science Libraries
- Data Science Tools
- Some Examples of basic functions

## Author
Bilal Aamir